<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:22="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:include="fragments/js/head.html :: bootstrap">...</th:block>
    <th:block th:include="fragments/js/main.html :: script">...</th:block>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/shows.css}"/>
    <script type="text/javascript" th:src="@{/js/show.js}"></script>
    <script type='text/javascript'
            src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
    <!--    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <style> h1 {
        text-align: left;
        /*margin-left: 40px;*/
    }
    </style>
    <title th:text="       #{menu.shows}"></title>
</head>
<body>
<div th:include="fragments/headers/general :: header">...</div>
<div id="filterbar" class="collapse">
    <div class="box border-bottom">
        <div class="form-group text-center">
            <div class="btn-group" data-toggle="buttons">
                <!--                <label class="btn btn-success form-check-label"> <input-->
                <!--                        class="form-check-input" type="radio"> Reset-->
                <!--                </label>-->
                <button onclick="reset()" class="btn btn-dark" th:text="#{reset}"></button>
                <button onclick="refresh()" class="btn btn-dark" th:text="#{apply}"></button>
                <!--                <label class="btn btn-success form-check-label active">-->
                <!--                    <input class="form-check-input" type="radio" onclick="refresh()" checked> Apply-->
                <!--                </label>-->
            </div>
        </div>
    </div>

    <div class="box border-bottom">
        <div class="box-label text-uppercase d-flex align-items-center">
            <th:block th:text="#{show.price}"></th:block>
            <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#price"
                    aria-expanded="false" aria-controls="price"><span class="fas fa-plus"></span></button>
        </div>
        <div class="collapse" id="price">
            <div class="middle">
                <div class="multi-range-slider">
                    <input type="range" id="input-left" min="0" th:max="${maxPrice}" th:value="${minPrice}">
                    <input type="range" id="input-right" min="0" th:max="${maxPrice}" th:value="${maxPrice}">
                    <div class="slider">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-2">
                <div><span id="amount-left" class="font-weight-bold" th:value="#{currency}"></span> uah</div>
                <div><span id="amount-right" class="font-weight-bold" th:value="#{currency}"></span> uah</div>
            </div>
        </div>

    </div>
    <div class="box border-bottom">
        <div class="box-label text-uppercase d-flex align-items-center">
            <th:block th:text="#{show.frame}"></th:block>
            <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#datetime"
                    aria-expanded="false" aria-controls="price"><span class="fas fa-plus"></span></button>
        </div>

        <div class="collapse" id="datetime">
            <div class="middle">
                <input id="datetimes"
                       name="datetimes"
                       class="form-control"/>
                <input id="startdatetime"
                       name="startdatetime"
                       class="form-control" hidden>
                <!--                       th:field="*{startDateTime}"-->
                <input id="enddatetime"
                       name="enddatetime"
                       class="form-control" hidden>
                <!--                       th:field="*{endDateTime}"-->
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-label text-uppercase d-flex align-items-center">
            <th:block th:text="#{show.title}"></th:block>
            <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#namediv"
                    aria-expanded="false" aria-controls="price"><span class="fas fa-plus"></span></button>
        </div>
        <div class="collapse" id="namediv">
            <div class="middle">

                <input type="text"
                       id="name"
                       name="name"
                       class="form-control"
                />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <!--            <a th:text="${T(com.example.exhibitions.data.ExhibitionDTO).parseDateTimeStr()}"></a>-->
            <h1 th:text="#{menu.shows}"></h1>
            <table id="posts" class="table table-bordered table-responsive-sm">
                <thead>
                <tr>
                    <th th:text="#{show.title}"></th>
                    <th th:text="#{show.start.date}"></th>
                    <th th:text="#{show.end.date}"></th>
                    <th th:text="#{show.price}"></th>
                    <th th:text="#{show.halls}"></th>
                    <div sec:authorize="hasRole('ROLE_USER')">
                        <th th:text="#{buy}"></th>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <th th:text="#{edit}"></th>
                    </div>


                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts.page}">
                    <!--/*@thymesVar id="post" type="com.example.exhibitions.entity.Exhibition"*/-->
                    <!--/*@thymesVar id="post" */-->
                    <td th:text="${post.name}"></td>
                    <!--                    <td th:text="${#temporals.format(post.startDate, 'dd-MM-yyyy HH:mm')}"></td>-->
                    <td th:text="${#temporals.format(post.startDate, #messages.msg('date.format'))}"></td>
                    <td th:text="${#temporals.format(post.endDate, #messages.msg('date.format'))}"></td>
                    <!--                    <td th:text="${#temporals.format(post.endDate, 'dd-MM-yyyy HH:mm')}"></td>-->
                    <td th:text="${post.price}"></td>
                    <td th:text="${#strings.listJoin(post.halls.![number], ', ')}"></td>
                    <td sec:authorize="hasRole('ROLE_USER')">
                        <button onclick="buy(this)" data-th-attr="data-id=${post.id}" class="btn btn-dark"
                                th:text="#{buy}"></button>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <button onclick="edit(this)" data-th-attr="data-id=${post.id}" class="btn btn-dark"
                                th:text="#{edit}"></button>
                    </td>
                </tr>
                </tbody>

            </table>
            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${posts.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!posts.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{${path}+'?pageNumber=' + ${posts.paging.pageNumber - 1}}"
                           tabindex="-1" th:text="#{pagination.prev}"></a>
                    </li>
                    <th:block th:each="item : ${posts.paging.getItems()}">
                        <li class="page-item" th:classappend="${item.index == posts.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{${path}+'?pageNumber=' + ${item.index}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!posts.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{${path}+'?pageNumber=' + ${posts.paging.pageNumber + 1}}"
                           th:text="#{pagination.next}"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
<script th:inline="javascript">
    function filterData() {
        $.ajax({
            type: "POST",
            url: "/api/shows/filtered",
            error: function (e) {

                alert('Something went south!');
            },
            // success: function (e) {
            //     alert('good!');
            // }
        }).done(
            function (response) {
                alert(response)
                window.location.href = "/api/shows"
            }
        );

    }
</script>
<script th:inline="javascript">
    $(function () {
        let format = /*[[#{date.locale}]]*/ "";

        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
                format: format
            }
        }, function (start, end, label) {
            document.getElementById("startdatetime").value = start.toLocaleString();
            document.getElementById("enddatetime").value = end.toLocaleString();
        })
    })
</script>

<script type="text/javascript" th:inline="javascript">
    function buy(btn) {
        const id = btn.getAttribute("data-id");
        $.ajax({
            type: "POST",
            url: "/api/shows/buy/",
            data: {id: id},
            error: function (xhr, status, error) {
                // alert('Something went south!');
                // alert(xhr.responseText);
                var err = JSON.parse(xhr.responseText);
                alert(err.message);
                // alert(error);
            }
        }).done(
            function (response) {
                alert(response)
            }
        );
    }

    function edit(btn) {
        const id = btn.getAttribute("data-id");
        window.location.href = '/api/shows/' + id + '/edit'
    }

    function reset() {
        let max = /*[[${maxPrice}]]*/ "";
        let min = /*[[${minPrice}]]*/ "";
        let format = /*[[#{date.format}]]*/ "";

        document.getElementById("input-left").value = min
        document.getElementById("input-right").value = max;
        // document.getElementById("input-right").value = max;
        document.getElementById("name").value = "";
        console.log(document.getElementById("startdatetime").value)
        document.getElementById("startdatetime").value = "";
        // document.getElementById("datetimes").value = moment();
        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
                format: format
            }

        })
        console.log(document.getElementById("startdatetime").value)

        console.log(document.getElementById("enddatetime").value)
        document.getElementById("enddatetime").value = "";
        console.log(document.getElementById("enddatetime").value)

    }

    function refresh() {
        let priceMin = (document.getElementById("input-left").value);
        let priceMax = (document.getElementById("input-right").value);
        let dateStart = (document.getElementById("startdatetime").value);
        let dateEnd = (document.getElementById("enddatetime").value);
        let title = (document.getElementById("name").value);
        console.log(dateEnd);
        console.log(dateStart);
        console.log(priceMin);
        console.log(priceMax);
        console.log(title);
        alert(dateStart + "\n" + dateEnd + "\n" + priceMin + "\n" + priceMax + "\n" + title)
        // let enc = btoa("Thu Nov 25 2021 00:00:00 GMT+0200")
        // let value = "endDate<"+ btoa(dateEnd) + ",";
        // let value = "endDate<Thu_Nov_25_2021_00*00*00_GMT+0200";
        // let value = "endDate<243200";

        let value = ""
        if (title !== "") value += "name:" + title + ",";
        if (priceMin !== "") value += "price>" + priceMin + ",";
        if (priceMax !== "") value += "price<" + priceMax + ",";
        // if(dateEnd!=="") value+="endDate<"+ dateEnd.replace(":", "*") + ",";
        // if(dateStart!=="") value+="startDate>"+ dateStart.replace(":", "*") + ",";
        // if(dateEnd!=="")
        // value+="endDate<2014-05-27T00:00,";
        let url = window.location.href;

        url = URL_add_parameter(url, "search", value.substring(0, value.length - 1))
        // if (dateEnd !== "") url = URL_add_parameter(url, "end", btoa(dateEnd))
        // if (dateStart !== "") url = URL_add_parameter(url, "start", btoa(dateStart))
        url = URL_add_parameter(url, "start", btoa(dateStart))
        url = URL_add_parameter(url, "end", btoa(dateEnd))

        window.location.href = url
        // alert(url)
        // $.ajax({
        //     type: "GET",
        //     url: url,
        //     data: {search: "endDate<Thu_Nov_25_2021_00*00*00_GMT+0200"},
        //     error: function () {
        //         alert('Something went south!');
        //     }
        // })
        //     .done(
        //     function (response) {
        //         alert(response)
        //     }
        // );

    }
</script>
</body>
</html>
