<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <th:block th:include="fragments/js/head.html :: bootstrap"></th:block>
    <th:block th:include="fragments/js/main.html :: script"></th:block>
    <title>Edit show</title>
</head>
<body>
<div th:include="fragments/headers/general :: header">...</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info" th:text="#{edit.success}"></div>
            </div>
            <div th:if="${param.deleted}">
                <div class="alert alert-info" th:text="#{delete.success}"></div>
            </div>
            <div th:if="${param.error}">
                <div class="alert alert-danger" th:text="#{input.fail}"></div>
            </div>

            <div th:unless="${param.deleted}">
                <h1 th:text="#{exhibition}"></h1>

                <!--/*@thymesVar id="error" type="java.lang.Error"*/-->
                <!--/*@thymesVar id="exhibition" type="com.example.exhibitions.data.ExhibitionDTO"*/-->
                <!--/*@thymesVar id="data" type="com.example.exhibitions.entity.Exhibition"*/-->
                <form th:action="@{/api/shows/{id}/edit(id=${id})}" th:object="${exhibition}" method="post">
                    <!--            <form th:action="@{/api/shows/edit}" th:object="${exhibition}" method="post">-->

                    <p class="error-message"
                       th:if="${#fields.hasGlobalErrors()}"
                       th:each="error : ${#fields.errors('global')}"
                       th:text="${error}">Validation error</p>

                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('name')}? 'has-error':''">

                        <label for="name" th:text="#{show.title}"></label>:
                        <input type="text"
                               id="name"
                               name="name"
                               th:value="${data.name}"
                               class="form-control"
                               autofocus="autofocus"
                        />
                        <p class="error-message"
                           th:each="error: ${#fields.errors('name')}"
                           th:text="${error}">Validation error</p>

                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('price')}? 'has-error':''">

                        <label for="price" th:text="#{show.price}"></label>:
                        <input type="text"
                               id="price"
                               name="price"
                               th:value="${data.price}"
                               class="form-control"
                               th:placeholder="#{currency}"
                        />
                        <p class="error-message"
                           th:each="error: ${#fields.errors('price')}"
                           th:text="${error}">Validation error</p>

                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('startDateTime')}? 'has-error':''">

                        <label for="datetimes" th:text="#{show.frame}"></label>:
                        <input id="datetimes"
                               name="datetimes"
                               class="form-control"
                        />
                        <input id="startDateTime"
                               name="startDateTime"
                               th:field="*{startDateTime}"
                               class="form-control" hidden>
                        <input id="endDateTime"
                               name="endDateTime"
                               th:field="*{endDateTime}"
                               class="form-control" hidden>
                        <input id="id"
                               name="id"
                               th:value="${data.id}"
                               class="form-control" hidden>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('startDateTime')}"
                           th:text="${error}">Validation error</p>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('endDateTime')}"
                           th:text="${error}">Validation error</p>


                        <!--                           th:field="*{period}"-->
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('halls')}? 'has-error':''">

                        <label for="halls" th:text="#{show.halls}"></label>
                        <select id="halls" class="form-control" size="5"
                                name="halls[]"
                                multiple>
                            <!--/*@thymesVar id="hall" type="com.example.exhibitions.entity.Hall"*/-->
                            <option th:each="hall : ${halls}"
                                    th:value="${{hall.number}}"
                                    th:utext="${hall.number}"
                                    th:selected="${data.halls.contains(hall)}"
                            >
                        </select>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('halls')}"
                           th:text="${error}">Validation error</p>

                    </div>
                    </br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" th:text="#{edit}">
                        </button>
                    </div>
                </form>
                <button  onclick="deleteItem()" class="btn btn-danger" th:text="#{delete}">
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<!--<th:block layout:fragment="script"/>-->
<script th:inline="javascript">
    function deleteItem() {
        let id = /*[[${data.id}]]*/ "";
        $.ajax({
            type: "DELETE",
            url: "/api/shows/delete/" + id,
            error: function (e) {
                alert('Something went south!');
            },
        }).done(
            function (response) {
                alert(response)
                window.location.href = "/api/shows"
            }
        );
    }

    $(function () {
        let startDate = /*[[${data.startDate}]]*/ "";
        let endDate = /*[[${data.endDate}]]*/ "";
        let format = /*[[#{date.locale}]]*/ "";
        document.getElementById("startDateTime").value = moment(Date.parse(startDate)).toLocaleString();
        document.getElementById("endDateTime").value = moment(Date.parse(endDate)).toLocaleString();
        // $('input[name="datetimes"]').setDefaults($('input[name="datetimes"]').regional['us']);

        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            startDate: moment(Date.parse(startDate)),
            endDate: moment(Date.parse(endDate)),
            // format: 'YYYY-MM-DD'
            locale: {
                format: format
            }
        }, function (start, end, label) {
            document.getElementById("startDateTime").value = start.toLocaleString();
            document.getElementById("endDateTime").value = end.toLocaleString();
        })
    })
</script>

</body>
</html>
